
<div class="container">
  <% if @current_user.present? %>
    <%= link_to "Add a new collection", new_list_path, class: "btn btn-sm button-primary" %>
    <hr>
    <h3>Your Collections</h3>
    <ul>
      <% @current_user.lists.each do |list| %>
        <li>
          <%= link_to list.name, list_path(list.id) %>
        </li>
      <% end %>



    </ul>
    <% else %>
    <p>You have to sign in to view your collections</p>
  <% end %>
</div>
