


<hr>
<div class="container">
  <div class="d-flex flex-wrap justify-content-between">
<% @directors.each do |director| %>
  <div class="card bg-light mt-3 mr-2 movie-card">
    <% if director.image.present? %>
      <%= link_to image_tag(director.image, class: "card-img-top"), director %>
    <% end %>
    <h6 class="card-text"><%= director.name %></h6>
  </div>
<% end %>

  </div>
</div>
