<h1>Registered Users : </h1>
<ul>
<% @users.each do |user| %>
  <li>
    <% @user = user %>
    <%= @user.email %>
    <%= link_to "Edit", edit_user_path(@user) %>
    <%= link_to "Delete", user_path(@user), :method => 'delete' %>
  </li>
<% end %>
</ul>
