
<% if @current_user.present? %>
  <h3>Your Movie lists</h3>
  <ul>
    <% @current_user.lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list.id) %>
      </li>
    <% end %>
    <li>
      <%= link_to "Add a new list", new_list_path %>
    </li>
  </ul>
<% end %>
